@media screen and (min-width: 1024px){
    .user__saldo{
        display: flex;
        padding: 0.5rem 0.8rem;
    }
    .user__saldo-p{
        width: 35%;
        font-size: 1.2rem;
    }
    .user__saldo-num{
        width: 65%;
        font-size: 1.2rem;
        
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

@media screen and (min-width: 480px) and (max-width: 767px){
    
}
@media screen and (min-width: 200px) and (max-width: 479px){
    
}